@charset "utf-8";

.header .title{
 position: absolute;/*絶対配置*/
 color: white;/*文字は白に*/
 font-weight: bold; /*太字に*/
 font-size: 50px;
 max-width: 50%;
 text-align: left;
 top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  margin: 0 auto;
 }

.header{
  text-align: center;
  postion: relative;
  z-index: 2;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /*overflow: hidden;*/
}


.header .cb-slideshow{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header img{
  width: 100%;
}


.button img{
  position: relative;
  margin-top: 500px;
  width: 5%;
}

.ac{
    margin-top: 90px;
    margin-bottom: 90px;
  overflow: hidden;
}

.c-visible {
  float: left;
  text-align: left;
  margin:0;
    max-width: 50%;
    overflow: visible !important;
}

.container {
    padding-left: 8%;
    overflow: hidden;
    padding-right: 8%;
    position: relative;
}

.a-visible {
    overflow: visible !important;
    float: right;
    width: 50%;
}

.a-container {
  overflow:hidden;
    position: relative;
    margin-right: 8%;
}

.c-grids {
    margin-right: 60%;
}

.access{
  margin-right: 10%;
}

.top-access > h2 {
    font-size: 2.5em;
    border-bottom: 1px solid #ccc;
}

.top-access > h2:after {
    content: attr(data-entitle);
    color: #28B472;
    font-size: 0.8em;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1px 20px;
}

.top-news > h2 {
    font-size: 2.5em;
    border-bottom: 1px solid #ccc;

}

.top-news > h2:after {
    content: attr(data-entitle);
    color: #28B472;
    font-size: 0.8em;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1px 20px;
}

.top-news > dl {
    margin: -7px 0;
}

.top-news p {
    color: #999;
    font-size: 1.5em;
    font-weight: 600;
    padding: 7px 0;
    line-height: 3em;
}

.top-access > dl {
    margin: -7px 0;
}

.top-access p {
    color: #999;
    font-size: 2em;
    font-weight: 600;
    position: absolute;
    padding: 7px 0;
    line-height: 2em;
}


.des_word{
  margin-top: 100px;
  margin-left: 100px;
  /*overflow: hidden;*/
}

.des_word img{
  text-align: center;
  z-index: -1;
  display:inline-block;
  width: 105%;
}


  h1{
      text-align: center;
      font-size: 18px;
      color: white;
      letter-spacing: 0.5em;
  }

  p {
    font-size:13px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
  color: #1a1a1a;
  text-decoration: none;
  background: none;
}

figure{
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.c-container {
    padding-left: 8%;
    overflow: hidden;
    padding-right: 8%;
    position: relative;
}

.c-container.inner-space {
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
}

.c-bcg-gray {
    background-color: #EFEFEF;
}

  .c-stickout {
      margin-left: -1vw;
      margin-right: -1vw;
  }

  .c-grids.gap-s {
    margin-left: -2%;
    margin-right: -2%;
    padding-left: 2%;
    padding-right: 2%;
}
.c-grids.gap-s .c-grid-1of3{
    padding-left: 2%;
    padding-right: 2%;
    float: left;
}

.c-grid-1of3 {
  display: inline-block;
    width: 33.333%;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

.c-grid-1of3 img {
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.top-others-item {
    text-align: center;
    display: block;
    padding: 30px 0;
    margin: -30px 0;
}

.c-grid-1of3:hover{
   opacity: 0.5; /* 25％ほど透明にする */
}

.top-others-item .c-title-D {
    font-size: 1.5em;
    padding: 7px 10px;
  }


  .c-title-D {
    color: #fff;
    font-size: 1.067em;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    padding: 12px 20px 10px;
    background-color: #28B472;
  }

.top-others-item > h2 {
    font-size: 1.7em;
    margin: 30px 0 20px;
}

.top-others-item > h2:after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: #28B472;
    display: block;
    margin: 15px auto 0;
}

.title strong{
  font-size: 1.5em;
}
