.c-title-A {
    font-size: 5em;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
}

.money h2{
  font-size: 2.5em;
  padding: 0.25em 0.5em;/*上下 左右の余白*/
 background: transparent;/*背景透明に*/
 border-left: solid 5px  #F6921D;/*左線*/
}

.money {
  padding-left: 8%;
  padding-right: 8%;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin: 40px auto 40px;
  margin-bottom: 100px;
}
.money th {
  background: #28B472;
  border: solid 1px #fff;
  color: #fff;
  padding: 10px;
}
.money td {
  border: solid 1px #fff;
  padding: 10px;
}
@media screen and (max-width: 640px) {
  .tbl-r03 {
    width: 90%;
  }
  .tbl-r03 tr {
    display: block;
    float: left;
  }
  .tbl-r03 tr td,
  .tbl-r03 tr th {
    border-left: none;
    display: block;
    height: 50px;
  }
  .tbl-r03 thead {
    display: block;
    float: left;
    width: 30%;
  }
  .tbl-r03 thead tr {
    width: 100%;
  }
  .tbl-r03 tbody {
    display: block;
    float: left;
    width: 70%;
  }
  .tbl-r03 tbody tr {
    width: 50%;
  }
  .tbl-r03 tr td + td {
    border-left: none;
  }
  .tbl-r03 tbody td:last-child {
    border-bottom: solid 1px #ccc;
  }
}
